version: '3'

volumes:
  node_modules:

services:
#   nodejs-server:
#     build:
#       context: ./api
#       dockerfile: Dockerfile-dev
#     ports:
#       - "3080:3080"
#     container_name: node-api
#     volumes:
#        - ./api:/usr/src/app/api
#        - /usr/src/app/api/node_modules

  vue-frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    working_dir: /app
    container_name: vue-frontend
    volumes:
      - ./src:/app
      - node_modules:/app/node_modules